{% extends 'base.html.twig' %}

{% block style %}{{ asset('css/pages/crew.css') }}{% endblock %}
{% block title %}{{ parent() }} | L'équipe {% endblock %}

{% block main %}
    <!-- New member form -->
    <h2>Ajouter un(e) Argonaute</h2>
    <form class="new-member-form">
        <label for="name">Nom de l&apos;Argonaute</label>
        <input id="name" name="name" type="text" placeholder="Charalampos"/>
        <button type="submit">Embarquer</button>
    </form>

    <!-- Member list -->
    <h2>Membres de l'équipage</h2>
    <section class="member-list">

        {% for argonaute in argonautes %}
            <div class="member-item">{{ argonaute.name }}</div>
        {% endfor %}


        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Eleftheria</div>
        <div class="member-item">Gennadios</div>
        <div class="member-item">Lysimachos</div>
        <div class="member-item">Test1</div>
    </section>
{% endblock %}