{% extends 'base.html.twig' %}

{% block style %}{{ asset('css/pages/home.css') }}{% endblock %}

{% block title %} {{ parent() }}  | Accueil {% endblock %}

{% block body_attr %}home{% endblock %}

{% block main %}
    <a href="{{ path('main_crew') }}" class="enter">ENTRER</a>
{% endblock %}
