$colors: (
        "black": #000,
        "white": #fff,
        "disabled": #b8b8b8,
        "thunder": #3D2D33,
        "coffee": #80604A,
        "vanilla": #D2B7A2,
        "scorpion": #686063,
        "success": #4BB543,
        "error": #8B0000FF,
);

$breakpoints: (
        xs: 500,
        s: 768,
        m: 960,
        l: 1280,
);