@import "../components/members-list";
@import "../components/form";
@import "../shared/index-shared";

body.crew {
  h1 {
    font-family:'Luckiest Guy', cursive;;
    font-size: 7.5em;
    line-height: 1.5;
    background-image: url("../../img/ponton.jpg");
    background-position-y: 24%;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 20px 0 0;

    @include mobile {
      font-size: 3.5em;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }

  main {
    @include mobile {
      margin: 0 20px;
    }
  }
}