@import "../shared/index-shared";

footer {
  margin-top: 2em;
  text-align: center;
  color:color("white");
  background: color("thunder");
  padding: 0.25em 0;


  a {
    color: color("white");
  }

  @include mobile {
    padding: 0 1em;
  }
}