<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/logo-wild.png') }}">
    <title>{% block title %}Les Argonautes{% endblock %}</title>
</head>
<body>
<header>
    <h1>
        <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo-wild.png') }}" alt="Wild Code School logo" /></a>
        Les Argonautes
    </h1>
    {% include('inc/nav.html.twig') %}
</header>
<main>
    {% block body %} {% endblock %}
</main>
<footer>
    <p>Réalisé par Jason <i>(et Lucille)</i> en Anthestérion de l'an 515 avant JC</p>
</footer>
</body>
</html>