<div class="menu">
    <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo-wild.png') }}" alt="Wild Code School logo" /></a>
    <nav>
        <ul>
            <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('app_crew') }}" title="Equipe">Mon équipe</a></li>
        </ul>
    </nav>
</div>
